/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4a2f1d;
  color: #fff;
  padding: 1rem;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s; /* Added transition for scale effect */
}

nav a:hover {
  background-color: #a07a5b;
  transform: scale(1.05); /* Slightly grow on hover */
}

h1, h2, h3 {
  color: #4a2f1d;
}

#about {
  max-width: 800px;
  margin: 2rem auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.instructions-container {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f9f6f2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.instructions-container img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 4px;
  max-height: 100%;
}

.pocket {
  display: inline-block;
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: #e0b89f;
  border-radius: 5px;
  position: relative;
  transition: background-color 0.3s; /* Added transition for pockets */
}

.pocket:hover {
  background-color: #d0a57a; /* Darken on hover */
}

.piece {
  width: 10px;
  height: 10px;
  background-color: #4a2f1d;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}



.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}
